<main class='p-5'>
    <div class='row'>
        <div class='col-12 mb-5'>
            <div class='nav nav-tabs'>
                <div class='nav-item'>
                    <a href='#' class='nav-link active'>Main</a>
                </div>

                <div class='nav-item'>
                    <a href='#' class='nav-link disabled'>Catalog</a>
                </div>

                <div class='nav-item'>
                    <a href='#' class='nav-link'>Shop list</a>
                </div>
                <button class='btn btn-outline-info ms-5'>Search</button>
            </div>
        </div>

        <div class='col-3 me-5'>
            <div class='card'>
                <div class='pt-4 pb-3 px-4'>
                    <div class='nav flex-column'>
                        <div class='nav-item mb-2'>
                            <div class='card'>
                                <a href='/task31' class='nav-link'>Home page</a>
                            </div>
                        </div>
                        <div class='nav-item mb-2'>
                            <div class='card'>
                                <a href='#' class='nav-link disabled'>Bootstrap</a>
                            </div>
                        </div>
                        <div class='nav-item mb-2'>
                            <div class='card'>
                                <a href='#' class='nav-link'>FAQ page</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class='col-8'>
            <div class='row'>
                <div class='col-12'>
                    <ol class='breadcrumb'>
                        <li class='breadcrumb-item'>
                            <a href=''>Home</a>
                        </li>
                        <li class='breadcrumb-item'>
                            <a href=''>PC and laptop</a>
                        </li>
                        <li class='breadcrumb-item'>
                            <a href=''>Mac OS</a>
                        </li>
                    </ol>
                </div>
                <div class='col-12'>
                    <button class='btn btn-warning rounded-pill my-3'>Click!</button>
                    <div class='alert alert-dark'>
                        <h6>
                            Hello world!
                            <span class='badge text-bg-danger rounded-pill text-uppercase ms-3'>Top sell</span>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class='my-5' />

    <section>
        <div class='display-5 mb-3'>Lesson 5</div>
        <ul>

            <br />
            <br />
        </ul>

        <ul>
            {{#each list}}
                {{#if disabled}}
                    <li>
                        <button class='disabled'>
                            {{name}}
                        </button>
                    </li>
                {{else}}
                    <li class='my-3'>
                        <button class='active'>{{name}}</button>
                    </li>
                {{/if}}
            {{/each}}
        </ul>

        <ul>
            {{#each list}}
                {{#if disabled}}
                    <li>
                        <button class='disabled'>{{name}}</button>
                    </li>
                {{else}}
                    {{#if @last}}
                        <li>
                            <button class='disabled'>{{name}}</button>
                        </li>
                    {{else}}
                        <li>
                            <button>{{name}}</button>
                        </li>
                    {{/if}}
                {{/if}}
            {{/each}}
        </ul>

        <ul>
            {{#each list}}
                {{#if disabled}}
                    {{#if @last}}
                        <li>
                            <button class='disabled'>{{name}}</button>
                        </li>
                    {{else}}
                        <li>
                            <button>{{name}}</button>
                        </li>
                    {{/if}}
                {{else}}
                    <li>
                        <button>{{name}}</button>
                    </li>
                {{/if}}
            {{/each}}
        </ul>

        <ul>
            {{#each list}}
                {{#if @last}}
                    <li>
                        <button class='disabled'>{{name}}</button>
                    </li>
                {{else}}
                    <li>
                        <button>{{name}}</button>
                    </li>
                {{/if}}
            {{/each}}
        </ul>
    </section>
</main>