<main>
    {{> shopheader}}

    <div>
        <ol class='breadcrumb my-5'>
            {{#each breadcrumb}}
                <li class='breadcrumb-item'>
                    {{#if url}}
                        <a href='{{url}}' target='_blank'>{{name}}</a>
                    {{else}}
                        {{name}}
                    {{/if}}
                </li>
            {{/each}}
        </ol>
    </div>

    <h1>{{header}}</h1>

    <div class='row mt-4 mb-5'>
        {{#each sortBlock}}
            <div class='col-3'>
                <select class='form-select'>
                    <option selected>{{placeholder}}</option>
                    {{#each options}}
                        <option value='{{value}}'>{{text}}</option>
                    {{/each}}
                </select>
            </div>
        {{/each}}
    </div>

    <div class='row mb-5'>
        <div class='col-3'>
            <div class='card'>
                <div class='card-body'>
                    {{#with filterBlock}}
                        {{#with sellers}}
                            <h5 class='mb-3'>{{title}}</h5>
                            <div>
                                {{#each list}}
                                    <div class='form-check'>
                                        <label class='form-check-label'>{{value}}</label>
                                        <input type='checkbox' class='form-check-input' />
                                    </div>
                                {{/each}}
                            </div>
                            <hr class='my-3' />
                        {{/with}}
                        {{#with brands}}
                            <h5 class='mb-3'>{{title}}</h5>
                            {{#with input}}
                                <input placeholder='{{placeholder}}' class='form-control mt-2' />
                            {{/with}}
                            <div class='mt-3'>
                                {{#each options}}
                                    <div class='form-check my-2'>
                                        <label class='form-check-label'>{{value}}</label>
                                        <input type='checkbox' class='form-check-input' />
                                    </div>
                                {{/each}}
                            </div>
                            <hr class='my-4' />
                        {{/with}}
                        {{#with price}}
                            <h5>{{title}}</h5>
                            {{#with range}}
                                <input placeholder='{{from}}' class='form-control mt-3' />
                                <input placeholder='{{to}}' class='form-control my-3' />
                            {{/with}}
                            {{#with button}}
                                <a href='{{link}}' target='_blank' class='btn btn-outline-secondary px-4'>{{text}}</a>
                            {{/with}}
                            <hr class='my-4' />
                        {{/with}}
                        {{#each filterList}}
                            <h5>{{title}}</h5>
                            {{#each options}}
                                <div class='form-check my-2'>
                                    <label class='form-check-label'>{{value}}</label>
                                    <input type='checkbox' class='form-check-input' />
                                </div>
                            {{/each}}
                            {{#if @last}}{{else}}
                                <hr class='my-4' />
                            {{/if}}
                        {{/each}}
                    {{/with}}
                </div>
            </div>
        </div>

        <div class='col-9'>
            <div class='row'>
                {{#each goodsList}}
                    <div class='col-5'>
                        <div class='card mb-3'>
                            <img src='{{img}}' alt='lorem photo' class='card-img-top' />
                            <div class='card-body'>
                                {{#if isHot}}
                                    <span class='badge rounded-pill text-bg-warning text-uppercase me-1'>Hot!</span>
                                {{/if}}
                                {{#if isNew}}
                                    <span class='badge rounded-pill text-bg-primary text-uppercase me-1'>New</span>
                                {{/if}}
                                {{#if isFast}}
                                    <span class='badge rounded-pill text-bg-warning text-uppercase me-1'>Fast</span>
                                {{/if}}
                                {{#if isFree}}
                                    <span class='badge rounded-pill text-bg-primary text-uppercase'>Free</span>
                                {{/if}}
                                <h4 class='mt-3'>{{name}}</h4>
                                {{#with review}}
                                    <div>
                                        <p>{{amount}} {{text}}</p>
                                    </div>
                                {{/with}}
                                <h4>{{price}}</h4>
                                <p>{{delivery}}</p>
                                {{#each buttons}}
                                    {{#if isPrimary}}
                                        <div><a href='{{link}}' target='_blank' class='btn btn-primary'>{{text}}</a></div>
                                    {{else}}
                                        {{#if isSecondary}}
                                            <div><a href='{{link}}' target='_blank' class='btn btn-secondary mt-2'>{{text}}</a></div>
                                        {{/if}}
                                    {{/if}}
                                {{/each}}
                                <ul>
                                    {{#each characteristics}}
                                        <li class='mt-3'>
                                            <p>{{title}}:{{value}}</p>
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
    {{> shopaction}}

    <hr class='mt-5' />

    {{> shopfooter}}
</main>