<main>
    {{!-- {{> shopheader}} --}}

    <h1>{{header}}</h1>

    <section class='row'>
        <div class='col-7'>
            {{#with contacts_data}}
                <h2 class='mb-3 mt-5'>{{title}}</h2>
                <div>
                    {{#each buttons}}
                        {{#if isPrimary}}
                            <button class='btn btn-warning me-2'>{{text}}</button>
                        {{/if}}
                        {{#if isOutline}}
                            <button class='btn btn-outline-warning'>{{text}}</button>
                        {{/if}}
                    {{/each}}

                    {{#with form}}
                        <div class='row g-3 mt-2'>
                            {{#with input}}
                                {{#with surname}}
                                    <div class='col-5'>
                                        <label class='form-label fs-5 fw-medium'>{{label}}</label>
                                        <input placeholder='{{placeholder}}' class='form-control' />
                                        <div class='form-text'>{{caption}}</div>
                                    </div>
                                {{/with}}
                                {{#with name}}
                                    <div class='col-5'>
                                        <label class='form-label fs-5 fw-medium'>{{label}}</label>
                                        <input placeholder='{{placeholder}}' class='form-control' />
                                        <div class='form-text'>{{caption}}</div>
                                    </div>
                                {{/with}}
                                {{#with phone}}
                                    <div class='col-5'>
                                        <label class='form-label fs-5 fw-medium'>{{label}}</label>
                                        <input placeholder='{{placeholder}}' class='form-control' />
                                        <div class='form-text'>{{caption}}</div>
                                    </div>
                                {{/with}}
                                {{#with email}}
                                    <div class='col-5'>
                                        <label class='form-label fs-5 fw-medium'>{{label}}</label>
                                        <input placeholder='{{placeholder}}' class='form-control' />
                                        <div class='form-text'>{{caption}}</div>
                                    </div>
                                {{/with}}
                            {{/with}}

                            <hr class='my-5 col-10' />
                        </div>

                        {{#each switch}}
                            <div class='form-check form-switch'>
                                <label class='form-check-label'>{{text}}</label>
                                {{#if isActive}}
                                    <input type='checkbox' class='form-check-input active' />
                                {{/if}}
                                {{#unless isActive}}
                                    <input type='checkbox' class='form-check-input' disabled />
                                {{/unless}}
                            </div>
                        {{/each}}
                    {{/with}}
                    <hr class='my-5 col-10' />
                </div>
            {{/with}}
        </div>

        <div class='col-3'>
            <div class='card p-2 mt-5 mb-4'>
                {{#each action_block}}
                    {{#if isSuccess}}
                        <div>
                            <button class='btn btn-success p-2 fw-bold'>{{text}}</button>
                        </div>
                    {{/if}}
                    {{#if isDanger}}
                        <div>
                            <button class='btn btn-danger p-2 fw-bold my-2'>{{text}}</button>
                        </div>
                    {{/if}}
                    {{#if isInfo}}
                        <div>
                            <button class='btn btn-info p-2 fw-bold'>{{text}}</button>
                        </div>
                    {{/if}}
                {{/each}}
            </div>

            <div>
                <div class='card p-2'>
                    {{#with total}}
                        <h2>{{title}}</h2>
                        {{#each item_list}}
                            <div>
                                {{name}}
                                {{price}}
                            </div>
                        {{/each}}

                        <hr />

                        {{#each additional_info}}
                            <div>
                                {{text}}
                                {{value}}
                            </div>
                        {{/each}}

                        <hr />
                        {{#each button}}
                            {{#if isPrimary}}
                                <div>
                                    <button class='btn btn-primary p-2 fw-bold'>{{text}}</button>
                                </div>
                            {{/if}}
                            {{#if isOutline}}
                                <div>
                                    <button class='btn btn-outline-primary p-2 fw-bold mt-3'>{{text}}</button>
                                </div>
                            {{/if}}
                        {{/each}}
                    {{/with}}
                </div>
            </div>
        </div>
    </section>

</main>