<main>
    {{> shopheader}}

    <h1>{{header}}</h1>

    <section class='row'>
        <div class='col-9'>
            {{#with contacts_data}}
                <h2 class='mb-3 mt-5'>{{title}}</h2>
                <div>
                    {{#each buttons}}
                        {{#if isPrimary}}
                            <button class='btn btn-warning me-2'>{{text}}</button>
                        {{/if}}
                        {{#if isOutline}}
                            <button class='btn btn-outline-warning'>{{text}}</button>
                        {{/if}}
                    {{/each}}

                    {{#with form}}
                        <div class='row g-3 mt-2'>
                            {{#with input}}
                                {{#with surname}}
                                    <div class='col-6'>
                                        <label class='form-label fs-5 fw-medium'>{{label}}</label>
                                        <input placeholder='{{placeholder}}' class='form-control' />
                                        <div class='form-text'>{{caption}}</div>
                                    </div>
                                {{/with}}
                                {{#with name}}
                                    <div class='col-6'>
                                        <label class='form-label fs-5 fw-medium'>{{label}}</label>
                                        <input placeholder='{{placeholder}}' class='form-control' />
                                        <div class='form-text'>{{caption}}</div>
                                    </div>
                                {{/with}}
                                {{#with phone}}
                                    <div class='col-6'>
                                        <label class='form-label fs-5 fw-medium'>{{label}}</label>
                                        <input placeholder='{{placeholder}}' class='form-control' />
                                        <div class='form-text'>{{caption}}</div>
                                    </div>
                                {{/with}}
                                {{#with email}}
                                    <div class='col-6'>
                                        <label class='form-label fs-5 fw-medium'>{{label}}</label>
                                        <input placeholder='{{placeholder}}' class='form-control' />
                                        <div class='form-text'>{{caption}}</div>
                                    </div>
                                {{/with}}
                            {{/with}}

                            <hr class='my-5 col-12' />
                        </div>

                        {{#each switch}}
                            <div class='form-check form-switch'>
                                <label class='form-check-label'>{{text}}</label>
                                {{#if isActive}}
                                    <input type='checkbox' class='form-check-input active' />
                                {{/if}}
                                {{#unless isActive}}
                                    <input type='checkbox' class='form-check-input' disabled />
                                {{/unless}}
                            </div>
                        {{/each}}
                    {{/with}}
                    <hr class='my-5 col-12' />
                </div>
            {{/with}}

            {{!-- {{#with delivery}}
                <div class='row'>
                    <h2>{{title}}</h2>
                    <div class='col-4'>
                        {{#each select}}
                            <div class='mb-3'>
                                <label class='form-label'>{{label}}</label>
                                <select class='form-select'>
                                    <option selected>{{placeholder}}</option>
                                    {{#each options}}
                                        <option value='{{value}}'>{{text}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        {{/each}}
                    </div>
                </div>
            {{/with}} --}}

            {{#with delivery}}
                <h2 class='mb-3'>{{title}}</h2>
                <div class='d-flex justify-content-between'>
                    <div class='col-5'>
                        <label class='form-label'>{{select.0.label}}</label>
                        <select class='form-select'>
                            <option>{{select.0.placeholder}}</option>
                            {{#each select.0.options}}
                                <option value='{{this.value}}'>{{this.text}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class='col-5'>
                        <label class='form-label'>{{select.1.label}}</label>
                        <select class='form-select'>
                            <option>{{select.1.placeholder}}</option>
                            {{#each select.1.options}}
                                <option value='{{this.value}}'>{{this.text}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                {{#each delivery_type}}
                    <div class='form-check mt-3'>
                        <label class='form-check-label'>{{type}}</label>
                        <input name='delivery' type='radio' class='form-check-input' />
                    </div>
                {{/each}}
                <hr class='my-5 col-12' />

                {{#with payment}}
                    <h2>{{title}}</h2>
                    {{#each list}}
                        <div class='form-check mt-3'>
                            <label class='form-check-label'>{{type}}</label>
                            <input name='payment' type='radio' class='form-check-input' />
                            <div class='form-text'>{{description}}</div>
                        </div>
                    {{/each}}
                {{/with}}

                <hr class='my-5 col-12' />

                <div class='row g-3'>
                    {{#with contact}}
                        {{#with surname}}
                            <div class='col-6'>
                                <label class='form-label fs-5 fw-medium'>{{label}}</label>
                                <input placeholder='{{placeholder}}' class='form-control' />
                                <div class='form-text'>{{caption}}</div>
                            </div>
                        {{/with}}
                        {{#with name}}
                            <div class='col-6'>
                                <label class='form-label fs-5 fw-medium'>{{label}}</label>
                                <input placeholder='{{placeholder}}' class='form-control' />
                                <div class='form-text'>{{caption}}</div>
                            </div>
                        {{/with}}
                        {{#with phone}}
                            <div class='col-6'>
                                <label class='form-label fs-5 fw-medium'>{{label}}</label>
                                <input placeholder='{{placeholder}}' class='form-control' />
                                <div class='form-text'>{{caption}}</div>
                            </div>
                        {{/with}}
                        {{#with email}}
                            <div class='col-6'>
                                <label class='form-label fs-5 fw-medium'>{{label}}</label>
                                <input placeholder='{{placeholder}}' class='form-control' />
                                <div class='form-text'>{{caption}}</div>
                            </div>
                        {{/with}}
                    {{/with}}
                </div>

                <hr class='my-5 col-12' />

                {{#with coment}}
                    <div>
                        <label class='form-label'>{{label}}</label>
                        <input placeholder='{{placeholder}}' class='form-control' />
                    </div>
                {{/with}}

                <hr class='my-5 col-12' />
            {{/with}}

            {{#with coupon}}
                <h2>{{title}}</h2>
                {{#with select}}
                    {{#with availabel_coupon}}
                        <div>
                            <label class='form-label'>{{label}}</label>
                            <select name='available' class='form-select form-select-lg p-3'>
                                <option>{{placeholder}}</option>
                                {{#each options}}
                                    <option value='{{value}}'>{{text}}</option>
                                {{/each}}
                            </select>
                        </div>
                    {{/with}}
                    {{#with friend_coupon}}
                        <div class='mt-3'>
                            <label class='form-label'>{{label}}</label>
                            <select name='friend' class='form-select form-select-sm'>
                                <option>{{placeholder}}</option>
                                {{#each options}}
                                    <option value='{{value}}'>{{text}}</option>
                                {{/each}}
                            </select>
                        </div>
                    {{/with}}
                {{/with}}

                {{#with add}}
                    {{#with friend}}
                        <div class='mt-3'>
                            <label class='form-label'>{{label}}</label>
                            <input placeholder='{{placeholder}}' class='form-control form-select-lg p-3' />
                            <div class='form-text'>{{caption}}</div>
                        </div>
                    {{/with}}
                    {{#with colleague}}
                        <div class='mt-3'>
                            <label class='form-label'>{{label}}</label>
                            <input placeholder='{{placeholder}}' class='form-control form-select-sm' />
                            <div class='form-text'>{{caption}}</div>
                        </div>
                    {{/with}}
                {{/with}}

                <hr class='my-5 col-12' />
            {{/with}}

            {{#with quiz}}
                <h2>{{title}}</h2>
                {{#with preference}}
                    <label class='form-check-label my-2'>{{title}}</label>
                    <div class='form-check'>
                        {{#each options}}
                            <input name='electinics' type='radio' class='form-check-input' />
                            <p>{{this}}</p>
                        {{/each}}
                    </div>
                {{/with}}

                {{#with your_expirience}}
                    <div>
                        <label class='form-label'>{{label}}</label>
                        <input class='form-control' />
                    </div>
                {{/with}}

                {{#with purchase_frequency}}
                    <div class='my-3'>
                        <label class='form-label'>{{label}}</label>
                        <select class='form-select'>
                            <option selected>{{placeholder}}</option>
                            {{#each options}}
                                <option value='{{value}}'>{{text}}</option>
                            {{/each}}
                        </select>
                    </div>
                {{/with}}

                {{#with factors}}
                    <label class='form-check-label my-2'>{{title}}</label>
                    <div class='form-check'>
                        {{#each options}}
                            <input name='electinics' type='checkbox' class='form-check-input' />
                            <p>{{this}}</p>
                        {{/each}}
                    </div>
                {{/with}}
            {{/with}}
        </div>

        <div class='col-3'>
            <div class='card p-2 mt-5 mb-4'>
                {{#each action_block}}
                    {{#if isSuccess}}
                        <div>
                            <button class='btn btn-success p-2 fw-bold'>{{text}}</button>
                        </div>
                    {{/if}}
                    {{#if isDanger}}
                        <div>
                            <button class='btn btn-danger p-2 fw-bold my-2'>{{text}}</button>
                        </div>
                    {{/if}}
                    {{#if isInfo}}
                        <div>
                            <button class='btn btn-info p-2 fw-bold'>{{text}}</button>
                        </div>
                    {{/if}}
                {{/each}}
            </div>

            <div class='card p-2'>
                {{#with total}}
                    <h2>{{title}}</h2>
                    {{#each item_list}}
                        <div>
                            {{name}}
                            {{price}}
                        </div>
                    {{/each}}

                    <hr />

                    {{#each additional_info}}
                        <div>
                            {{text}}
                            {{value}}
                        </div>
                    {{/each}}

                    <hr />
                    {{#each button}}
                        {{#if isPrimary}}
                            <div>
                                <button class='btn btn-primary p-2 fw-bold'>{{text}}</button>
                            </div>
                        {{/if}}
                        {{#if isOutline}}
                            <div>
                                <button class='btn btn-outline-primary p-2 fw-bold mt-3'>{{text}}</button>
                            </div>
                        {{/if}}
                    {{/each}}
                {{/with}}
            </div>
        </div>
    </section>

    <hr />

    {{> shopfooter}}

</main>