<main>
    {{!-- <div class='card'>
        <div class='card'>
            <div class='card-body'>
                {{#with heading}}
                    {{#with main}}
                        <h1>{{title}}</h1>
                        <p>{{text}}</p>
                        <button class='btn btn-primary'>{{button_text.solid}}</button>
                        <br />
                        <br />
                        <button class='btn btn-outline-primary'>{{button_text.outline}}</button>
                    {{/with}}
                {{/with}}
            </div>
        </div>
        <div class='card'>
            <div class='card-body'>
                {{#with heading}}
                    {{#with second}}
                        <h1>{{title}}</h1>
                        <p>{{text}}</p>
                        <button class='btn btn-secondary'>{{button_text.solid}}</button>
                        <br />
                        <br />
                        <button class='btn btn-outline-secondary'>{{button_text.outline}}</button>
                    {{/with}}
                {{/with}}
            </div>
        </div>
        <div class='card'>
            <div class='card-body'>
                {{#with heading}}
                    {{#with subblock}}
                        <h1>{{title}}</h1>
                        <p>{{text}}</p>
                        <button class='btn btn-dark'>{{button_text.solid}}</button>
                        <br />
                        <br />
                        <button class='btn btn-outline-dark'>{{button_text.outline}}</button>
                    {{/with}}
                {{/with}}
            </div>
        </div>
    </div> --}}

    <div class='wrap-1'>
        <div class='card'>
            <div class='card-body'>
                {{#with heading}}
                    <div class='card'>
                        <div class='card-body'>
                            {{#with main}}
                                <h1>{{title}}</h1>
                                <p>{{text}}</p>
                                <button class='btn btn-primary'>{{button_text.solid}}</button>
                                <br />
                                <br />
                                <button class='btn btn-outline-primary'>{{button_text.outline}}</button>
                            {{/with}}
                        </div>
                    </div>
                    <div class='card'>
                        <div class='card-body'>
                            {{#with second}}
                                <h1>{{title}}</h1>
                                <p>{{text}}</p>
                                <button class='btn btn-secondary'>{{button_text.solid}}</button>
                                <br />
                                <br />
                                <button class='btn btn-outline-secondary'>{{button_text.outline}}</button>
                            {{/with}}
                        </div>
                    </div>
                    <div class='card'>
                        <div class='card-body'>
                            {{#with subblock}}
                                <h1>{{title}}</h1>
                                <p>{{text}}</p>
                                <button class='btn btn-dark'>{{button_text.solid}}</button>
                                <br />
                                <br />
                                <button class='btn btn-outline-dark'>{{button_text.outline}}</button>
                            {{/with}}
                        </div>
                    </div>
                {{/with}}
            </div>
        </div>
    </div>

    <div class='wrap-2'>
        <div>
            <div class='card'>
                <div class='card-body'>
                    {{#with nested_display}}
                        <h1 class='display-1'>{{title}}</h1>
                        <div class='card'>
                            <div class='card-body'>
                                {{#with children_display}}
                                    <h4 class='display-4'>{{title}}</h4>
                                    <p>{{text}}</p>
                                    <button class='btn btn-warning'>{{button.text}}</button>
                                {{/with}}
                            </div>
                        </div>
                        <h6>{{header_text}}</h6>
                        <button class='btn btn-info'>{{button.text}}</button>
                    {{/with}}
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class='card'>
            <div class='card-body'>
                {{#with paragraph}}
                    <h4 class='text-uppercase'>{{title}}</h4>
                    <br />
                    <p>{{text}}</p>
                    <br />
                    <a href='{{button.url}}' target='_blank' class='btn btn-link'>{{button.text}}</a>
                    <br />
                    <br />
                    <div class='card'>
                        <div class='card-body'>
                            <ul>
                                {{#each list_name}}
                                    <br />
                                    <li><a href='{{url}}'>{{text}}</a></li>
                                    <br />
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                {{/with}}
            </div>
        </div>
    </div>
</main>