<main>

    <div class='row'>
        <section class='col-12'>
            {{#each navigation.links}}
                <span style='margin-right: 30px;'>
                    <a style='text-decoration: none;' href='{{href}}'>{{text}}</a>
                </span>
            {{/each}}
            <a class='btn btn-primary' href='{{navigation.button.href}}' target='_blank'>{{navigation.button.text}}</a>
        </section>
    </div>

    <hr />
    <br />

    <div>
        {{#with header}}
            <h1>{{title}}</h1>
            <p>{{description}}</p>
            <button class='btn btn-primary'>{{button.text}}</button>
            <br />
            <br />
        {{/with}}
    </div>

    <br />
    <hr />
    <br />

    <div>
        {{#with city}}
            <h2>{{title}}</h2>
            <div class='row'>
                {{#each cards}}
                    <section class='col-6'>
                        <div class='card'>
                            <img src='{{picture.src}}' alt='{{picture.alt}}' class='card-img-top' />
                            <div class='card-body'>
                                <h5 class='card-title'>{{title}}</h5>
                                <p>{{description}}</p>
                                <a href='{{button.href}}' class='btn btn-primary'>{{button.text}}</a>
                            </div>
                        </div>
                    </section>
                {{/each}}
            </div>
        {{/with}}
    </div>

    <br />
    <hr />
    <br />

    <div>
        {{#with winner}}
            <h2>{{title}}</h2>
            {{#with table}}
                <table class='table table-bordered'>
                    <thead class='text-bg-success'>
                        <tr>
                            {{#each head}}
                                <th>
                                    {{this}}
                                </th>
                            {{/each}}
                        </tr>
                    </thead>
                    <tbody>
                        {{#each user}}
                            <tr>
                                <th class='text-bg-info'>{{place}}</th>
                                <td>{{name}}</td>
                                <td>{{surname}}</td>
                                <td>{{nickname}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{/with}}
        {{/with}}
    </div>

    <br />
    <hr />
    <br />

    <section class='row'>
        {{#with gallery}}
            <h3 class='display-3'>{{title}}</h3>
            {{#each cards}}
                <div class='col-4 g-2'>
                    <div class='card p-0'>
                        <div class='card-header'>
                            <span>{{name}}</span>
                        </div>
                        <ul class='list-group list-group-flush'>
                            {{#each items}}
                                <li class='list-group-item'>{{this}}</li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            {{/each}}
        {{/with}}
    </section>

    <br />
    <hr />
    <br />

    <section class='row'>
        {{#with relaxion}}
            <h3 class='display-3'>{{title}}</h3>
            {{#each cards}}
                <div class='col-5 gy-3'>
                    <div class='card text-bg-secondary'>
                        <div class='card-header'>{{header}}</div>
                        <div class='card-body'>
                            <h4 class='card-title'>{{title}}</h4>
                            <p>{{description}}</p>
                        </div>
                    </div>
                </div>
            {{/each}}
        {{/with}}
    </section>

    <br />
    <hr />
    <br />

    <section class='row'>
        {{#with rest}}
            <h3 class='display-3'>{{title}}</h3>
            {{#each cards}}
                <div class='col-5 gy-3'>
                    <div class='card text-center'>
                        <div class='card-header'>{{header}}</div>
                        <div class='card-body'>
                            <h4 class='card-title'>{{title}}</h4>
                            <p>{{description}}</p>
                            <button class='btn btn-primary'>{{button}}</button>
                        </div>
                        <div class='card-footer'>{{footer}}</div>
                    </div>
                </div>
            {{/each}}
        {{/with}}
    </section>

    <br />
    <hr />
    <br />

    <section class='row'>
        {{#with proposition}}
            <h3 class='display-2'>{{title}}</h3>
            {{#each card}}
                <div class='col-5 gy-3'>
                    <div class='card text-bg-warning'>
                        <div class='card-header'>{{header}}</div>
                        <div class='card-body'>
                            <h4 class='card-title'>{{title}}</h4>
                            <p>{{description}}</p>
                        </div>
                    </div>
                </div>
            {{/each}}
        {{/with}}
    </section>

    <br />
    <hr />
    <br />

    <section class='row g-3'>
        {{#with footer}}
            <h5>{{title}}</h5>

            {{#each navigation}}
                <div class='col-4'>
                    <a href='{{href}}' class='text-decoration-none'>{{text}}</a>
                </div>
            {{/each}}

            {{#each socialMedia}}
                <div class='col-4'>
                    <a href='{{link}}' class='btn btn-outline-dark'>{{name}}</a>
                </div>
            {{/each}}

            {{#each partners}}
                <div class='col-4'>
                    <a href='{{link}}' class='btn btn-outline-info'>{{name}}</a>
                </div>
            {{/each}}

        {{/with}}
    </section>
</main>