{{!-- <a href="{{href}}">{{text}}</a> / --}}
{{!-- тобто виходить, це так само як ти писав link або abc? так само ти придумав змінну data та прирівняв її до змінної email і т.д. Бо мене збиває те, що ми цю змінну ДАТА не прописували у нашому руті --}}
<a href="{{href}}" {{#if blank}} target="_blank" {{/if}}>{{text}}</a>
{{#unless noLine}}
{{#if line}}
---
{{else}}
/
{{/if}}
{{/unless}}